<div [ngSwitch]="id">
    <div *ngSwitchCase="1" class="container">
        <div class="row">
            <div class="col">
                <img src="/src/assets/team/1.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4">Federico Gonzales</h1>
                <h3>Desarrollador Web</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam fugit corporis commodi quidem deserunt cum, eius ipsum doloribus harum veritatis nulla distinctio voluptatum, iusto explicabo dolores error fuga minus sequi?</p>
            </div>
        </div>

    </div>
    <div *ngSwitchCase="2" class="container">
        <div class="row">
            <div class="col">
                <img src="/src/assets/team/2.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4">Diana Lopez</h1>
                <h3>Desarrollador Web</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam fugit corporis commodi quidem deserunt cum, eius ipsum doloribus harum veritatis nulla distinctio voluptatum, iusto explicabo dolores error fuga minus sequi?</p>
            </div>
        </div>

    </div>
    <div *ngSwitchCase="2" class="container">
        <div class="row">
            <div class="col">
                <img src="/src/assets/team/3.jpg" alt="">
            </div>
            <div class="col">
                <h1 class="mt-5 display-4">Joaquin Aguirre</h1>
                <h3>Diseñador</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam fugit corporis commodi quidem deserunt cum, eius ipsum doloribus harum veritatis nulla distinctio voluptatum, iusto explicabo dolores error fuga minus sequi?</p>
            </div>
        </div>
    </div>
</div>